extends layout

block content
  .container
    .col-12(style="text-align:center")
      h2 Golem Neural Network Image Aesthetic Assessment
      p Machine learning and deep learning requires computing power. Upgrading hardware or using cloud computing could both cost an arm and a leg. By using golem, sharing CPU copmuting power, AI training could be possible for everyone.
      a.btn.mt-3(href="/u/upload")
        |Go to upload image
